.pagination-dark {
    background-color: #333;
    color: #fff;
  }
  
  .pagination-dark .page-link {
    background-color: #444;
    border-color: #444;
    color: #fff;
  }
  
  .pagination-dark .page-link:hover,
  .pagination-dark .page-link:focus {
    background-color: #555;
    border-color: #555;
    color: #fff;
  }
  
  .pagination-dark .page-item.active .page-link {
    background-color: #777;
    border-color: #777;
  }
  